<section class="section">
    <div class="columns is-centered">
      <h1 class="title">Lesson 1 - Lightbulbs</h1>
    </div>
    <img src="/assets/img/bulb-lesson.jpg" alt="Bulb" width="400" height="500" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">For this first lesson, try and make one of the most essential circuits in electronics, a lightbulb that lights up!</p>
    </div>
    <div class="columns is-centered">
      <button class="button is-link" routerLink="/lesson-one">Lesson 1</button>
    </div>
  </section>
  
  <section *ngIf="this.lessonOneCompleted == true" class="section">
    <div class="columns is-centered">
      <h1 class="title">Lesson 2 - Resistance in series</h1>
    </div>
    <img src="/assets/img/resistor-lesson.jpg" alt="Resistor" width="400" height="500" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">For the second lesson, learn about resistance in series!</p>
    </div>
    <div class="columns is-centered">
      <button class="button is-link" routerLink="/lesson-two">Lesson 2</button>
    </div>
  </section>