.box {
    width: 200px;
    height: 200x;
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }

.horizontalComp {
}

.verticalComp {
}
