<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
      <p class="title">
        Electronic Learning Tool
      </p>
      </div>
    </div>
</section>


<section class="section">
  <div class="columns is-centered">
    <h1 class="title">Circuit Builder</h1>
  </div>
  <div class="columns is-centered">
    <p class="body-text">Try out our interactive circuit builder in free mode! You'll be able to select from all components and make your own circuits.</p>
  </div>
  <div class="columns is-centered">
    <button class="button is-link" routerLink="/circuit-builder">Try now!</button>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <h1 class="title">Lessons</h1>
  </div>
  <div class="columns is-centered">
    <p class="body-text">With lesson mode, you can progress through a set of curated lessons teaching you the basics of electronics in guided way.</p>
  </div>
  <div class="columns is-centered">
    <button class="button is-link" routerLink="/lessons">Go to lessons</button>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <h1 class="title">Learn</h1>
  </div>
  <div class="columns is-centered">
    <p class="body-text">Our learn section contains resources to help you along with lesson mode in more detail.</p>
  </div>
  <div class="columns is-centered">
    <button class="button is-link" routerLink="/learn">Take me to learn content</button>
  </div>
</section>