.hero {
    background-image: url('/assets/img/home-hero-image.jpg') !important;
    background-size: cover;
    background-position: center center;
  }

.title {
  margin: 15px
}

.body-text {
  margin: 25px
}