<section class="section">
    <div class="columns is-centered">
      <h1 class="title" style="padding:10px">Components</h1>
    </div>

    <div class="content" style="text-align:center">Here you'll find some of the components in the beta version of the app, with a handy little description!</div>

    <h2 class="subtitle" style="text-align:center">Wire</h2>
    <img src="/assets/img/wireH.png" alt="Wire" width="200" height="200" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">The most basic type of component in a circuit, and probably the most important one! Wires connect components with each other to allow current to pass through them. They have two ends and will pass current between each side.</p>
    </div>

    <h2 class="subtitle" style="text-align:center">Bulb</h2>
    <img src="/assets/img/bulb.png" alt="Bulb" width="200" height="200" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">Without these, we'd still be using oil lamps! Invented in 1879, bulbs light up when enough current is passed through them.</p>
    </div>

    <h2 class="subtitle" style="text-align:center">Cell</h2>
    <img src="/assets/img/cell.png" alt="Cell" width="200" height="200" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">The powerhouse of any circuit. Cells take many shapes an sizes but they all share one thing in common, they provide power to a circuit.</p>
    </div>

    <h2 class="subtitle" style="text-align:center">Resistor</h2>
    <img src="/assets/img/resistor.png" alt="Resistor" width="200" height="200" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text">Resistors are for when there is too much power! They create resistance which helps regulate a circuit.</p>
    </div>
  </section>
  
  <section class="section">
    <div class="columns is-centered">
      <h1 class="title">Current</h1>
    </div>
    <img src="/assets/img/current-image.jpg" alt="Resistor" width="400" height="500" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text" style="text-align:center; padding:15px">Current is how much electrical charge is flowing through a circuit. While a circuit might have so much power, not all of that might not flow through part of a circuit due to resistance.</p>
    </div>
  </section>

  <section class="section">
    <div class="columns is-centered">
      <h1 class="title">Resistance</h1>
    </div>
    <img src="/assets/img/resistor-lesson.jpg" alt="Resistor" width="400" height="500" class="lesson-image">
    <div class="columns is-centered">
      <p class="body-text" style="text-align:center; padding:15px">Resistance is what reduces the flow of current in a circuit. You can calculate this by dividing the potential difference by the current at a point in the circuit. 
          All components will have a tiny amount of internal resistance, but we have special components called resistors that can produce a lot more.</p>
    </div>
  </section>
